
:root {
    --vermelho: rgb(210, 10, 10);
    --cinzafundo: rgba(56, 55, 55);
    --pretoaula: rgb(0, 0, 0, 0.952);
    --branco: rgb(255, 255, 255);
    --brancoescuro: rgba(255, 255, 255, 0.854);
}

body {
    background-color: var(--cinzafundo);
}

.titulo {
    text-align: center;
    font-size: 2em;
    color: var(--branco);
}

.titulo1 {
    font-size: 3em;
    text-align: center;
    color: var(--vermelho);
}

.nomeaula {
    color: var(--vermelho);
    font-size:150%;
    padding-right: ;
    text-align: center;
}

.aulas {
    font-weight: bolder;
    color: var(--branco);
    text-align: center;
}

.programas {
    color: var(--brancoescuro);
}

.quadradoaulas {
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: space-around;
    
}

.quadradoaulas div {
    background-color: var(--pretoaula);
    padding: 30px;
    border-radius: 10px;
}

.quadradoaulas .div2 {
    padding-right: 1px;
}

.botao{
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: red;
    color:white;
    transition: 0.3s ease, 0.3s ease;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}
.botao:hover{
    transform: scale(1.05);
    background-color: salmon;
}
    