*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* TITULO */

.T1{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 30px;
    border-radius: 100px;
    background-color: red;
    margin-left: 450px;
    margin-right: 450px;
}

.T2{
    color: red;
}

.DM{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;

    
}

/* COLUNAS */

.DM .div1{
    background-color: lightgray;
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    background-color: white;
    padding: 10px;  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
}

.DM .div2{
    background-color: lightgray;
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    background-color: white;
    padding: 20px;  
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    color: red ;
    margin-bottom: 90px;
}

.DM .div3{
    background-color: lightgray;
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    background-color: white;
    padding: 20px;  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.DM .div4{
    background-color: lightgray;
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    background-color: white;
    padding: 20px;  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/* BOTÃO */

.DM .div1 .BT{
    font-weight: bolder;
    background-color: red;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.DM .div2 .BT{
    font-weight: bolder;
    background-color: red;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.DM .div3 .BT{
    font-weight: bolder;
    background-color: red;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.DM .div4 .BT{
    font-weight: bolder;
    background-color: red;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* TELA DE FUNDO */

.fundo{
    background-color: lightgray;
}

.RC{
    background-color: red;
    color: white;
    padding-left: 30px; 
    padding-right: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;  
    font-weight: bolder;
}